.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.App-header {
    display: none;
}

.App-logo {
    display: none;
}

.App-link {
    display: none;
}"// trigger redeploy again" 
