html, body, #root, .App {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-position: center;
    /* Remove opacity to restore visibility */
opacity: 1;
    font-family: 'Roboto', sans-serif;
}
